<div class="card card-containter">
    <form [formGroup]="form" #regForm="ngForm" (ngSubmit)="register()">
        <h3>Sign up</h3>

        <div class="failed" *ngIf="!isSuccessful && regForm.submitted">
            Registration failed: {{ errorMessage }}
            <br>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username">
            <mat-error *ngIf="hasErrors('username', 'required')">Username is required</mat-error>
            <mat-error *ngIf="hasErrors('username', 'minlength')">Username has to be at least 3 characters
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="hasErrors('password', 'required')">Password is required</mat-error>
            <mat-error *ngIf="hasErrors('password', 'minlength')">Password has to be at least 5 characters
            </mat-error>
        </mat-form-field>
        <br>
        <button class="submit" type="submit" mat-flat-button color="primary" 
            [disabled]="!form.valid">
            Sign up
        </button>
    </form>

    <div class="toLogin">
        If you already have account 
        <a href="/auth/login">Sign in!</a>
    </div>
</div>