<h3>Subtopics in topic '{{ topicTitle }}':</h3>
{{ errorMessage }}

<table mat-table [dataSource]="subtopics" class="mat-elevation-z8" style="width: 50%;">
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let subtopic">
            {{ subtopic.title }}
        </td>
    </ng-container>
    
    <ng-container matColumnDef="completion">
        <th mat-header-cell *matHeaderCellDef>Completion</th>
        <td mat-cell *matCellDef="let subtopic">
            <button mat-flat-button *ngIf="!subtopic.completed" color="accent" (click)="complete(subtopic)">
                Complete</button>
            <span *ngIf="subtopic.completed" class="completion">
                Completed</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let subtopic">
            <button mat-flat-button color="warn" (click)="delete(subtopic.id)">
                Delete
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<h3>Add new subtopic</h3>

<div class="add-subtopic">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="text" #title>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="add(title.value); title.value=''">
        Add
    </button>
</div>

<br>
<button mat-flat-button color="primary" (click)="goBack()" style="margin-left: 25px;">Go Back</button>