<h3>Subtopics for choosen topic:</h3>
<span>{{ errorMessage }}</span>

<div class="subtopics">
    <mat-list>
        <mat-list-item *ngFor="let subtopic of subtopics">
            {{ subtopic.title }}
            <button mat-flat-button color="accent" *ngIf="!subtopic.completed" (click)="complete(subtopic)">
                Complete
            </button>
            <span *ngIf="subtopic.completed" style="color: green;">(completed)</span>
        </mat-list-item>
    </mat-list>
</div>


<h3>Add new subtopic</h3>

<div class="add-subtopic">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="text" #title>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="add(title.value); title.value=''">
        Add
    </button>
</div>

<br>
<button mat-flat-button color="primary" (click)="goBack()" style="margin-left: 25px;">Go Back</button>