<h3>Update topic</h3>

<div class="updateTopic">
    <div class="message">
        {{ message }}
        <p></p>
    </div>

    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="currentTopic.title">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Days for learning</mat-label>
        <input matInput type="number" [(ngModel)]="currentTopic.daysForLearning">
    </mat-form-field>
    <br>
    <button mat-flat-button color="primary" (click)="update()" 
    [disabled]="currentTopic.title=='' || currentTopic.daysForLearning==null">
        Update
    </button>
    <br>
    
    <button mat-flat-button color="primary" (click)="goToTopics()">All topics</button>
</div>